.login-form-container
{
    width: 500px;

    background-color: darkslateblue;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    padding: 20px;
}
.login-form-label
{
    color: white;

    margin: 10px;
}
.login-form-input-group
{
    height: 100px;

    margin: 30px 0;
}
.login-form-input
{
    font-size: 15pt;

    padding: 5px;

    outline: none;
}
.login-form-submit
{
    font-size: 15pt;
    font-weight: 700;
    text-decoration: none;

    outline: none;
    border: none;

    background-color: white;
    color: purple;

    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.login-form-submit:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.1);
}
.login-form-submit:disabled
{
    background-color: lightgray;
    color: rgb(80, 80, 80);

    pointer-events: none;
}

@keyframes form-warning
{
  0% {transform: translateX(0%);}
  20% {transform: translateX(5%);}
  80% {transform: translateX(-5%);}
  100% {transform: translateX(0);}  
}
.login-form-warning
{
    color: red;

    font-size: 15pt;
    font-weight: 500;

    margin: 0;
    margin-bottom: 20px;
}
.login-form-warning[animate="true"]
{
    animation: form-warning 0.2s ease-in-out forwards;
    animation-iteration-count: 3;
}