.register-form-container
{
    width: 500px;

    background-color: darkslateblue;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    padding: 20px;
}
.register-form-label
{
    color: white;

    margin: 10px;
}
.register-form-input-section
{
    height: 250px;

    margin: 30px;
}


.register-avatar
{
    position: relative;
}
.avatar-background
{
    width: 150px; aspect-ratio: 1;

    background-blend-mode: hard-light;
    
    background-size: cover;

    border-radius: 10px;

    border: 5px solid white;

    box-shadow: inset 0 0 20px black;

    position: relative;
}
.avatar-base
{
    width: 100%; aspect-ratio: 1;

    /* background-color: lightgreen; */

    /* mask-image: url("./img/avatar-base/fg6.png"); */

    mask-size: cover;

    position: absolute;
}
.avatar-base-shadow
{
    width: 100%; aspect-ratio: 1;

    /* background-image: url("./img/topic-logo/fg1.png"); */

    background-size: cover;

    filter: drop-shadow(0 1px 4px black);

    position: absolute;
}
.avatar-accessory
{
    width: 100%; aspect-ratio: 1;

    background-blend-mode: multiply;

    background-size: cover;
    
    mask-size: cover;

    position: absolute;
}
.avatar-accessory-shadow
{
    width: 100%; aspect-ratio: 1;

    background-size: cover;

    filter: drop-shadow(0 1px 4px black);

    position: absolute;
}
.register-avatar-options-container
{
    width: 350px; height: 300px;

    background-color: darkslateblue;

    padding: 35px 20px;

    border-radius: 20px;

    box-shadow: 0 0 20px black;

    position: absolute;
    top: 0; right: 100%;

    transform-origin: top;
    transform: scaleY(1);

    transition: all 0.1s ease-in-out;
}

.register-avatar-options-row
{
    width: 100%; height: 100px;
}
.register-avatar-image-options
{
    width: 100%; height: 100%;

    background-color: black;

    padding: 5px;

    border-radius: 10px;

    overflow-x: scroll;
}
.register-avatar-image-options::-webkit-scrollbar
{
    background-color: grey;
    height: 10px;

    border-radius: 5px;
    
    border: 2px solid black;
}

.register-avatar-image-options::-webkit-scrollbar-thumb
{
    background-color: white;

    border-radius: 5px;
    
    border: 2px solid black;
}
.register-avatar-image-button
{
    height: 100%; aspect-ratio: 1;

    margin: 0 10px;

    border-radius: 10px;

    background-size: cover;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}

.register-avatar-image-button:hover
{
    transform: scale(1.1);
}
.register-avatar-color-option
{
    width: 100px; height: 100px;
}

.register-avatar:hover .register-avatar-options-container
{
    transform: scaleY(1);
}











.register-form-input
{
    font-size: 15pt;

    border-radius: 10px;

    padding: 5px;

    outline: none;
    border: none;
}
.register-form-submit
{
    font-size: 15pt;
}
.register-form-submit
{
    font-size: 15pt;
    font-weight: 700;
    text-decoration: none;

    outline: none;
    border: none;

    background-color: white;
    color: purple;

    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.register-form-submit:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.1);
}
.register-form-submit:disabled
{
    background-color: lightgray;
    color: rgb(80, 80, 80);

    pointer-events: none;
}