.account-page-container
{
    flex-direction: column;
}
.register-form-container
{
    width: 550px;

    background-color: var(--nav);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    padding: 50px;
}
.register-form-label
{
    color: var(--txt);

    margin: 10px;
}
.register-form-input-section
{
    height: 250px;
    margin: 30px;
    justify-content: flex-start;
}


.register-avatar
{
    position: relative;
}
/* .register-avatar-open-button
{
    width: 90%; height: 90%;

    background-color: rgba(0, 0, 0, 0.5);
    color: var(--txt);

    font-size: 15pt;

    border-radius: 50%;

    border: none; outline: none;
    
    position: absolute;

    transition: opacity 0.1s ease-in-out;
    
    opacity: 0;

    z-index: 1;
} */
.register-avatar:hover .register-avatar-open-button
{
    opacity: 1;
}
/* .register-avatar-options-container
{
    width: min(600px,90vw);

    background-color: var(--nav);
    color: var(--txt);

    padding: 1.2em;
    gap: 1.2em;

    border-radius: 1.2em;

    box-shadow: 0 0 1.2em black;

} */
/* .register-avatar-preview
{
    margin-inline-end: 5em;
} */
/* .register-form-submit
{
    font-size: 15pt;
    font-weight: 700;
    text-decoration: none;

    outline: none;
    border: none;

    background-color: white;
    color: var(--btn-color);

    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.register-form-submit:hover, .register-form-randomize-username-button:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.1);
} */
.register-form-submit:disabled
{
    background-color: lightgray;
    color: rgb(80, 80, 80);

    pointer-events: none;
}


 /* MEDIA QUERIES */

@media (max-width:500px)
{
    .register-avatar-options-container
    {
        font-size: 0.7em;
    }
}
