*
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    overflow-x: hidden;
}
body[lng="ar"]
{
    direction: rtl;
}
.flex-center
{
    display: flex;
    justify-content: center; align-items: center;
}
.flex-row
{
    display: flex;
    justify-content: space-between; align-items: center;
}
.flex-column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
}
.split-line
{
    width: 100%; height: 0.3em;

    background-color: white;
}
.hidden-checkbox
{
    position: absolute;
    opacity: 0;
}
.window-overlay
{
    width: 100vw; height: 100vh;

    background-color: rgba(41, 34, 80, 0.75);

    z-index: 2;

    position: fixed;
    top: 0; left: 0;
}
.float-right
{
    width: 100%;
    float: right;
}
.float-left
{
    width: 100%;
    float: left;
}
.width-full
{
    width: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
textarea::-webkit-scrollbar 
{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
textarea
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*
{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

    /* THEMES */

[theme="basic"]
{
    --page-bg-1: rgb(199, 210, 224);
    --page-bg-2: rgb(135, 173, 223);
    --nav: darkslateblue;
    --shade: lightblue;

    --bdy: rebeccapurple;
    --bdy-light: rgb(102, 91, 173);
    --bdy-lighter: rgb(125, 114, 196);
    --bdy-dark: rgb(72, 37, 107);
    --bdy-darker: rgb(50, 30, 75);

    --txt: white;
    --txt-2: plum;

    --btn-bg: white;
    --btn-color: purple;
    --btn-active: rgb(145, 130, 200);
    --btn-hover: rgb(240, 230, 255);
    --btn-hover-highlight: rgb(185, 0, 185);

    --usertag: lightskyblue;
    --usertag-hover: dodgerblue;
    
}

[theme="platinum"]
{
    --page-bg-1: #303030;
    --page-bg-2: rgb(68, 68, 68);
    --nav: #3a466b;
    --shade: lightgrey;

    --bdy: #3b4352;
    --bdy-light: #464f61;
    --bdy-lighter: #576275;
    --bdy-dark: #242a35;
    --bdy-darker: #0d0d13;

    --txt: white;
    --txt-2: rgb(180, 180, 180);

    --btn-bg: white;
    --btn-color: rgb(17, 17, 36);
    --btn-active: rgb(120, 121, 145);
    --btn-hover: rgb(159, 160, 189);
    --btn-hover-highlight: rgb(37, 37, 77);

    --usertag: lightskyblue;
    --usertag-hover: dodgerblue;
}

[theme="hazelnut"]
{
    --page-bg-1: #3d2000;
    --page-bg-2: #2b1600;
    --nav: #553416;
    --shade: #e7c1b5;

    --bdy: #b3593e;
    --bdy-light: #d36847;
    --bdy-lighter: #dd7d60;
    --bdy-dark: #8a4530;
    --bdy-darker: #663222;

    --txt: white;
    --txt-2: #fac7b7;

    --btn-bg: white;
    --btn-color: #52291d;
    --btn-active: #e6af9d;
    --btn-hover: #ffe1d7;
    --btn-hover-highlight:#944227;

    --usertag: lightskyblue;
    --usertag-hover: dodgerblue;
}

[theme="ocean"]
{
    --page-bg-1: #1b3f57;
    --page-bg-2: #122a3a;
    --nav: #3971a5;
    --shade: #7ea8cf;

    --bdy: #3d7a5f;
    --bdy-light: #4f9172;
    --bdy-lighter: #72ad92;
    --bdy-dark: #345545;
    --bdy-darker: #213d30;

    --txt: white;
    --txt-2: #79dfaf;

    --btn-bg: white;
    --btn-color: #066e3e;
    --btn-active: #728f81;
    --btn-hover: #a7c0b4;
    --btn-hover-highlight:#00a357;

    --usertag: lightskyblue;
    --usertag-hover: dodgerblue;
}

[theme="night"]
{
    --page-bg-1: rgb(20, 20, 20);
    --page-bg-2: black;
    --nav: rgb(60, 45, 80);
    --shade: lightgrey;

    --bdy: rgb(35, 35, 35);
    --bdy-light: #464f61;
    --bdy-lighter: #576275;
    --bdy-dark: #353535;
    --bdy-darker: rgb(24, 24, 24);

    --txt: white;
    --txt-2: rgb(180, 180, 180);

    --btn-bg: white;
    --btn-color: rgb(17, 17, 36);
    --btn-active: rgb(120, 121, 145);
    --btn-hover: rgb(159, 160, 189);
    --btn-hover-highlight: rgb(37, 37, 77);

    --usertag: lightskyblue;
    --usertag-hover: dodgerblue;
}


.button
{
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    color: var(--btn-color);
    background-color: var(--btn-bg);

    padding: 0.3em 0.9em;
    border-radius: 0.5em;

    border: none;
    outline: none;

    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.button:active
{
    background-color: var(--btn-active);
    transform: scale(0.8);
}
.page-container
{
    width: 100vw; min-height: 100vh;

    /* background-color: lightsteelblue; */
    background: linear-gradient(var(--page-bg-1),var(--page-bg-2));
    background-attachment: fixed;

    /* margin: auto; */
    padding: 8em 1em 4em 1em;
    /* padding-top: 8em; */
    
    gap: 1em;
    
    align-items: flex-start;

    position: absolute;
    top: 0; left: 0;
}
.page-container[header="none"]
{
    align-items: center;
    padding: 0;
}
.main-column
{
    width: min(700px,100vw);

    font-size: 0.8rem;
    
}
.main-column > *
{
    width: 100%;
}
.blog-sort-container
{
    font-size: 1em;

    border-radius: 1.2em;
    padding: 0.8em;

    background-color: var(--nav);

    /* box-shadow: 0 0.6em 1.2em var(--bdy-darker); */
}
.write-post-button
{
    font-size: 1.5em;
}
.main-column-post-group
{
    width: 100%; min-height: 500px;
}
.blog-empty-label
{
    width: 100%; height: 500px;

    color: var(--bdy);
}
@keyframes loading {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}
.blog-empty-label > img
{
    height: 200px;

    animation: loading 1s infinite linear;
}
.post-container
{
    color: var(--txt);
    background-color: var(--bdy);

    font-size: 1em;

    box-shadow: 0 0.6em 1.2em var(--bdy-darker);

    border-radius: 1.2em;

    align-items: flex-start;

    margin-top: 1.2em;

    position: relative;

    overflow: hidden;
   
}
.post-info
{
    color: var(--txt);
    text-decoration: none;

    padding: 0 1.2em;
}
.post-info-top-row
{
    width: fit-content;
    
    margin: 1.2em 0;
}
.post-info-topic-link, .post-link
{
    color: var(--txt);

    text-decoration: none;

    transition: transform 0.1s ease-in-out;
}
.post-info-topic-link > .topic-logo-container
{
    font-size: 0.4em;
}
/* .post-info-topic-link:active, .post-link:active
{
    scale: (0.9);
} */
.post-topic-title
{
    font-size: 1.3em;
    font-weight: 700;

    margin: 0 0.6em;
}
.post-date
{
    color: var(--txt-2);
    
    font-size: 1em;
    font-weight: 500;
}
.post-title
{
    font-size: 1.9em;
    margin: 0;
}
.post-body
{
    font-size: 1.5em;

    white-space: pre-line;

    max-height: 19em;
    overflow: hidden;
}
.post-long-shadow
{
    height: 200px; width: 100%;

    /* background-color: black; */
    background-image:  linear-gradient(transparent,var(--bdy) 80%);

    position: absolute;

    bottom: 2.5em; left: 0;
}
.post-bottom-bar
{
    width: 100%;

    font-size: 1.6em;

    background-color: var(--bdy-dark);

    padding: 0.2em 1.2em;
}

.post-options
{
    gap: 1.2em;
}
.votes-container
{
    gap: 0.6em;
}
.voting-button
{
    font-size: 1em;

    color: var(--txt);
    background-color: transparent;

    filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.5));

    border: none;
    outline: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;
    
}

.voting-icon
{
    font-size: 1.1em;
    margin-inline-end: 0.2em;
}
.voting-button[vote="like"]
{
    color: red;
}
.voting-button[vote="dislike"]
{
    color: deepskyblue;
}

.comment-button
{
    font-size: 1em;

    color: var(--txt);
    text-decoration: none;

    filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.5));

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;

    margin-bottom: 0.3em;    
}

.comment-icon
{
    font-size: 1.1em;
    padding-inline-end: 0.3em;
    padding-top: 0.3em;
}
.save-button
{
    font-size: 1em;
    min-width: max-content;

    color: var(--txt);
    background-color: transparent;

    filter: drop-shadow(0 0 0.2em rgba(0, 0, 0, 0.5));

    border: none;
    outline: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;
}

.save-button[saved="true"]
{
    color: lime;
}
.voting-button:active, .comment-button:active, .save-button:active
{
    transform: scale(0.9);
}
.side-column
{
    width: min(400px,100vw);

    font-size: 1rem;

    padding: 0 3em;
}
.side-column-container
{
    /* width: min(400px,100%); */
    width: 100%;

    font-size: 1em;
    
    color: var(--txt);
    background-color: var(--nav);

    border-radius: 1.2em;

    padding: 1.2em;

}
.side-column-topic-overview > .topic-logo-container
{
    font-size: 0.8em;
}
.side-column-topic-title
{
    color: var(--txt);
    text-decoration: none;
}
.side-column-topic-desc
{
    font-size: 1.3em;
    font-weight: 500;
}
.side-column-topic-info
{
    width: 100%;
}
.side-column-topic-status
{
    width: 100%;
    padding: 0 1em;
}
.side-column-topic-members
{
    font-size: 1.3em;
    font-weight: 500;
}
.side-column-topic-sub-button
{
    font-size: 1.2em;
}
.side-column-topic-sub-button[subbed="true"]
{
    background-color: var(--btn-color);
    color: var(--txt);

    font-size: 0.85em;
    padding: 0.3em 0.8em;

    border: 0.2em solid white;
}
.side-column-topic-sub-button:active
{
    transform: scale(0.9);
}
.side-column-topic-date
{
    color: var(--txt-2);
}

.popup-container
{
    position: fixed;
    bottom: 0; left: 0;

    height: 25vh; width: 100vw;

    pointer-events: none;

    transition: opacity 0.2s ease-in-out;
}

.popup
{
    position: absolute;
    
    background-color: var(--btn-bg);

    font-size: min(20pt,5vw);

    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    padding: 0.5em 1em;

    transform: translateY(10em);

    transition: transform 0.5s ease-in-out;

}
.popup[active="true"]
{
    transform: translateY(0);
}
.popup-text
{
    font-size: 1em;
    font-weight: 600;
    color: var(--bdy);

    margin: 0;

}

    /* MEDIA QUERIES */

@media (max-width:850px)
{
    .page-container
    {
        flex-direction: column-reverse;
        align-items: center;

        gap: 0;

    }
    .main-column
    {
        padding: 0 1em;
    }
    .side-column
    {
        width: min(700px,100vw);
        font-size: 0.8em;
        padding: 0 1em;
        margin-bottom: 1.2em;
    }
    .side-column-container
    {
        width: 100%;
        gap: 1em;
        align-items: flex-start;
    }
    .side-column-topic-overview
    {
        flex-direction: row;
        gap: 2em;
    }
    .side-column-topic-info
    {
        width: auto;
    }
    .side-column-topic-status
    {
        width: auto;
        gap: 2em;
    }
}

@media (max-width:750px)
{
    .page-container
    {
        padding-top: 6em;
    }
    .main-column
    {
        font-size: 0.7em;
    }

    .side-column
    {
        font-size: 0.7em;
    }
    .side-column-container
    {
        gap: 0em;
    }

}

@media (max-width:500px)
{

    .page-container
    {
        padding-top: 4em;
    }
    .main-column
    {
        font-size: 0.5em;
    }
    .post-options
    {
        gap: 0.8em;
    }
    .votes-container
    {
        gap: 0.3em;
    }

    .main-column
    {
        font-size: 0.5em;
    }

}

@media (max-width:350px)
{
    .main-column
    {
        font-size: 0.4em;
    }

    .side-column
    {
        font-size: 0.4em;
    }
}

@media (hover: hover)
{
    .button:hover
    {
        background-color: var(--btn-hover);
        transform: scale(1.25);
    }
    .post-info-topic-link:hover
    {
        transform: scale(1.05);
    }
    .voting-button:hover, .comment-button:hover, .save-button:hover
    {
        transform: scale(1.25);
    }
    .side-column-topic-sub-button:hover
    {
        background-color: var(--btn-hover);
        transform: scale(1.1);
    }
    .side-column-topic-sub-button[subbed="true"]:hover
    {
        background-color: var(--btn-hover-highlight);
    }
}