.text-input-container
{
    position: relative;
    outline: none;
}
.text-input
{
    width: 100%;
    background-color: inherit;
    color: var(--txt);

    font-size: 1em;

    border: 0.1em solid white;
    border-radius: 0.6em;

    padding: 0.3em 0.6em;
    margin: 0.6em 0;

    outline: none;
}
.text-input-area
{
    min-width: 100%; max-width: 100%;
    min-height: inherit; max-height: fit-content;
}
.text-input-label
{
    color: var(--txt);
    font-size: 1em;

    margin-inline-start: 0.6em;

    position: absolute;
    top: 1em;

    pointer-events: none; outline: none;

    transition: all 0.1s ease-in-out;
}
:is(.text-input-field:focus,.text-input-field:not([value=""])) +.text-input-label
{
    background-color: inherit;

    font-size: 0.8em;
    padding: 0 0.3em;

    top: 0;
}
:is(.text-input-area:focus,.text-input-area:not(:empty)) +.text-input-label
{
    background-color: inherit;

    font-size: 0.8em;
    padding: 0 0.3em;

    top: 0.5em;
}
.text-input:-webkit-autofill,
.text-input:-webkit-autofill:hover,
.text-input:-webkit-autofill:focus,
.text-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--nav) inset;
    -webkit-text-fill-color: var(--txt) !important;

}

.text-input-toggle-password-button
{
    font-size: 1em;
    
    background-color: transparent;
    color: var(--txt);
    
    border: none; outline: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}
[lang="ar"] .text-input-toggle-password-button
{
    left: 0;
}
[lang="en"] .text-input-toggle-password-button
{
    right: 0;
}
