.activity-page-option-row
{
    font-size: 1em;

    border-radius: 1.2em;
    padding: 1.2em;

    background-color: var(--nav);

    justify-content: flex-start;
    
    gap: 1.2em;
}

.activity-page-option-button
{
    color: var(--btn-color);
    background-color: var(--btn-bg);

    font-size: 1.5em;
    font-weight: 600;

    border-radius: 10px;

    border: none;
    outline: none;

    padding: 0.3em 0.6em;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}
.activity-page-option-button[current="true"]
{
    color: var(--btn-bg);
    background-color: var(--btn-color);

    pointer-events: none;
}
.activity-page-option-button:hover
{
    background-color: var(--txt-2);
    transform: scale(1.1);
}

.activity-page-content-container
{
    min-height: 700px;
}

.activity-page-content-container > *
{
    width: 100%;
}

.activity-page-comment-container
{
    font-size: 0.7em;

    color: var(--txt);
    background-color: var(--bdy);

    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.5);
    border-radius: 1.25em;
    
    margin-top: 1.8em;

    position: relative;

    overflow: hidden;
}
.activity-page-comment-link-padding
{
    font-size: 1.5em;
    padding: 0.3em 1.2em;
}
.activity-page-comment-link
{
    color: white;

    text-decoration: none;
}
.activity-page-comment-info
{
    color: var(--txt-2);
    
    font-size: 1em;
    font-weight: 500;
}
.activity-page-comment-post
{
    color: var(--txt-2);
    font-size: 1.2em;
    font-weight: 600;
}
.activity-page-comment-text
{
    font-size: 1.7em;
    font-weight: 500;
}

.activity-page-comment-bottom-bar
{
    background-color: var(--bdy-dark)
}

.side-column-container > .avatar-container
{
    font-size: 2em;
}