.activity-page-option-row
{
    font-size: 1em;

    border-radius: 1.2em;
    padding: 1.2em;

    background-color: darkslateblue;

    justify-content: flex-start;
    
    gap: 1.2em;
}

.activity-page-option-button
{
    color: purple;
    background-color: white;

    font-size: 1.5em;
    font-weight: 600;

    border-radius: 10px;

    border: none;
    outline: none;

    padding: 0.3em 0.6em;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}
.activity-page-option-button[current="true"]
{
    color: white;
    background-color: purple;

    pointer-events: none;
}
.activity-page-option-button:hover
{
    background-color: plum;
    transform: scale(1.1);
}

.activity-page-content-container
{
    min-height: 700px;
}

.activity-page-content-container > *
{
    width: 100%;
}

.activity-page-comment-container
{
    color: white;
    background-color: rebeccapurple;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
    margin-top: 30px;

    overflow: hidden;
}
.activity-page-comment-link-padding
{
    padding: 5px 20px;
}
.activity-page-comment-link
{
    color: white;

    text-decoration: none;


}
.activity-page-comment-info
{
    color: plum;
    
    font-size: 10pt;
    font-weight: 500;
}
.activity-page-comment-post
{
    color: plum;
    font-size: 13pt;
    font-weight: 600;
}
.activity-page-comment-text
{
    font-size: 15pt;
    font-weight: 500;
}

.activity-page-comment-bottom-bar
{
    width: 100%; height: 30px;

    background-color: rgb(72, 37, 107);

    padding: 20px;

}