.post-page-main-column
{
    width: min(900px,100vw);

}
.post-page-post-container
{
    color: white;
    background-color: rebeccapurple;

    box-shadow: 0 0.6em 1.2em rgb(91, 91, 128);

    border-radius: 1.2em;

    align-items: flex-start;

    margin-top: 1.2em;

    position: relative;

    overflow: hidden;
   
}
.post-page-post-info
{
    color: white;
    text-decoration: none;

    padding: 0 1.2em;
}
.post-page-post-date
{
    color: plum;
    
    font-size: 1em;
    font-weight: 500;
}
.post-page-post-title
{
    font-size: 2.2em;
    margin: 1em 0;
}
.post-page-post-body
{
    font-size: 1.5em;

    white-space: pre-line;

}
.post-page-bottom-bar
{
    box-shadow: 0 0.6em 1.2em rgb(91, 91, 128);

    border-radius: 1.2em;
    margin: 0.6em 0;
}

.post-page-comments-section-container
{
    width: 100%;

    font-size: 1em;

    background-color: rebeccapurple;

    box-shadow: 0 0.6em 1.2em rgb(91, 91, 128);

    border-radius: 1.2em;
    
    padding: 1.2em;
}

.post-page-write-comment-form
{
    width: min(450px,100%);

    font-size: 1em;

    background-color: rgb(72, 37, 107);

    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.5);

    border-radius: 1.2em;
    
    padding: 1.2em;

    align-items: flex-start
}
.post-page-write-comment-input
{
    font-size: 1.8em;

    min-width: 100%; max-width: 100%;
    min-height: 4em; max-height: fit-content;

    padding: 0.3em;

    border-radius: 0.6em;

    outline: none;
}
.post-page-write-comment-submit
{
    font-size: 1.8em;
    font-weight: 600;

    padding: 0.2em 0.5em;

    margin-top: 0.5em;

  
}

.post-page-logged-out-warning[type="comment"]
{
    font-size: 20pt;
    font-weight: 500;
    text-align: center;

    color: plum;
    background-color: rgb(72, 37, 107);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;
    
    padding: 20px;
}
.post-page-logged-out-warning[type="reply"]
{
    font-size: 20pt;
    font-weight: 500;
    text-align: center;

    color: plum;
    
    padding: 20px;
}
.post-page-comments-section
{
    border-top: 0.4em solid rgb(72, 37, 107);

    margin: 1.8em 0;
}
.post-page-comments-section-empty-label
{
    width: 100%;

    color: white;
    text-align: center;

    margin: 3em 0;
}
.post-page-comment-content-container
{
    width: min(500px,100%); max-width: fit-content;

    font-size: 0.8em;

    color: white;
    background-color: rgb(72, 37, 107);

    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.5);
    border-radius: 1.25em;
    
    margin-top: 1.8em;

    position: relative;

}
.post-page-comment-wrapper
{
    padding: 1.6em 1.8em;
}
.post-page-comment-content
{
    width: 90%;

    font-size: 1em;

    margin-inline-start: 2em;

    align-items: flex-start;
}
.post-page-comment-info
{
    color: plum;
    font-size: 1em;
    font-weight: 500;

    margin: 0;
}
.post-page-comment-info > .user-tag
{
    font-size: 1.3em;
    font-weight: 700;
}
.post-page-comment-text
{
    font-size: 2em;
    font-weight: 500;
    
    margin: 0.5em 0;

    white-space: pre-line;
}



.comment-bottom-bar
{
    width: 100%;

    font-size: 2em;

    background-color: rgb(50, 30, 75);

    padding: 0.2em 0.8em;

    border-radius: 0 0 0.6em 0.6em;
}
.comment-options
{
    /* width: 380px; */
}
.comment-votes-container
{
    width: 50%;

    margin-inline-end: 0.6em;
}

.comment-voting-button
{
    font-size: 15pt;

    color: white;
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;
    
}
/* .comment-voting-button:hover
{
    transform: scale(1.25);
}
.comment-voting-button[vote="like"]
{
    color: red;
}

.comment-voting-button[vote="dislike"]
{
    color: deepskyblue;
} */

.comment-reply-button
{
    font-size: 1em;

    background-color: transparent;
    color: white;

    text-decoration: none;

    border: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;

    margin-inline-end: 0.6em;
    
}
.comment-reply-button:hover
{
    transform: scale(1.25);
}
.reply-arrow-icon
{
    font-size: 0.8em;
    margin-inline-start: 0.2em;

    transform-origin: center;

    transition: transform 0.2s ease-in-out;
}
/* .comment-save-button
{
    font-size: 15pt;

    color: white;
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;
    
}
.comment-save-button:hover
{
    transform: scale(1.25);
}
.comment-save-button[saved="true"]
{
    color: lime;
} */




.reply-margin
{
    margin-inline-start: 5em;

    transform: scale(0.9);

    transform-origin: top;
}
.post-page-comment-replies-container
{
    height: fit-content; max-height: 0;

    transform: scaleY(0);

    transform-origin: top;

    position: relative;

}
.post-page-comment-replies-section
{
    align-items: flex-start;
}
.post-page-write-reply-form
{
    width: min(500px,100%);

    font-size: 0.8em;

    background-color: rgb(72, 37, 107);

    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.5);

    border-radius: 1.2em;
    
    padding: 1.2em;
    margin-top: 1.8em;

    align-items: flex-end;

    position: relative;
    
}
.post-page-write-reply-input
{
    font-size: 1.6em;

    height: fit-content;
    min-width: 80%; max-width: 0;
    min-height: 4em; max-height: fit-content;

    padding: 0.6em;

    border-radius: 0.6em;

    outline: none;

    overflow: visible;
}
.post-page-write-reply-buttons
{
    align-items: flex-end;
}
.post-page-write-reply-submit
{
    font-size: 1.5em;
    /* color: purple;
    background-color: white;

    font-size: 18pt;
    font-weight: 600;

    border-radius: 10px;

    border: none;
    outline: none;

    padding: 7px 10px;

    cursor: pointer;

    transition: all 0.1s ease-in-out; */
}
.post-page-comment-reply-checkbox:checked ~.post-page-comment-replies-container
{
    max-height: fit-content;

    transform: scaleY(1);
}
.post-page-comment-reply-checkbox:checked +.post-page-comment-content-container > .comment-bottom-bar .comment-reply-button .reply-arrow-icon
{
    transform: rotate(180deg);
}
.post-page-reply-container
{
    height: fit-content;

    position: relative;
}
.post-page-comment-replies-line
{
    width: 1em; height: calc(100% + 40px);

    background-color: white;

    position: absolute;
    bottom: 0;
    left: -4em;
}
body[lng="ar"] .post-page-comment-replies-line
{
    right: -5em;
}
.post-page-comment-replies-line[replyopen="true"]
{
    height: calc(200% + 2.8em);
    bottom: -50%;
}
.post-page-comment-replies-line[last="true"]
{
    height: calc(100% + 2.8em);
    bottom: 49%;
}
.post-page-comment-replies-line[first="true"]
{
    height: 100%;
}
.reply-pointer-line
{
    height: 1em; width: 5em;

    background-color: white;

    transform-origin: left;

    position: absolute;
    top: 50%;
}
body:not([lng=ar]) .reply-pointer-line
{
    right: 100%;
}
body[lng="ar"] .reply-pointer-line
{
    left: 100%;
}
.post-page-reply-checkbox +.post-page-write-reply-form
{
    display: none;
}
.post-page-reply-checkbox:checked +.post-page-write-reply-form
{
    display: flex;
}

.user-tag
{
    color: lightskyblue;

    text-decoration: none;

    transition: color 0.1s ease-in-out;
}
.user-tag:hover
{
    color: dodgerblue;
}


@media (max-width:850px)
{
 
    .post-page-side-column
    {
        width: min(900px,100vw);
    }
   
}
@media (max-width:350px)
{
    .comment-bottom-bar
    {
        font-size: 1.4em;
    }
}