.login-form-container
{
    width: 500px;

    background-color: darkslateblue;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    padding: 20px;
}
.login-form-label
{
    color: white;

    margin: 10px;
}
.login-form-input-group
{
    height: 100px;

    margin: 30px 0;
}
.login-form-input
{
    font-size: 15pt;

    padding: 5px;

    outline: none;
}
.login-form-submit
{
    font-size: 15pt;
}