*
{
    box-sizing: border-box;
}
.flex-center
{
    display: flex;
    justify-content: center; align-items: center;
}
.flex-row
{
    display: flex;
    justify-content: space-between; align-items: center;
}
.flex-column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
}
.split-line
{
    width: 100%; height: 5px;

    background-color: white;
}
.navbar
{
    width: 100%; height: 80px;

    color: white;
    background-color: darkslateblue;
    position: fixed;
    top: 0;

    box-shadow: 0 0 40px rgb(62, 76, 138);

    padding: 0 20px;

    z-index: 2;

}

@keyframes navbar-logo-hover {

    0% {color: lightsteelblue;}

    50% {color: rgb(226, 239, 255);}

    100% {color: lightsteelblue;}
    
}
.navbar-logo
{
    color: lightsteelblue;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 30pt;
    font-weight: 900;
    text-decoration: none;

    text-align: center;

    text-shadow: 0 5px 10px rgb(26, 28, 82);

    transition: all 0.2s ease-in;

    
}
.navbar-logo:hover
{
    transform: scale(1.1);
    color: lightsteelblue;

    animation: navbar-logo-hover 0.5s 0.2s ease-in-out forwards;

}
.navbar-options
{
    width: 250px;

    margin-right: 50px;
}
.navbar-options-loggedin
{
    width: 200px;

    margin-right: 50px;
}
.navbar-button
{
    font-size: 15pt;
    font-weight: 600;
    text-decoration: none;

    color: purple;
    background-color: white;


    padding: 5px 15px;
    border-radius: 10px;

    border: none;
    outline: none;

    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.navbar-button:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.25);
}
.navbar-profile-menu
{
    position: relative;
}
.navbar-profile-checkbox
{
    opacity: 0;
    position: absolute;
}
.navbar-profile-button
{
    height: 50px; aspect-ratio: 1;

    background-color: white;

    border-radius: 50%;

    overflow: hidden;
}
.navbar-profile-icon
{
    height: 120%;
}
.navbar-profile-dropdown-container
{
    width: 200px;

    background-color: rebeccapurple;

    /* padding: 20px 0; */

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: calc(100% + 15px);

    visibility: hidden;

    transform-origin: top;
    transform: scaleY(0);

    transition: all 0.2s ease-in-out;
}
.navbar-profile-checkbox:checked ~.navbar-profile-dropdown-container
{
    visibility: visible;
    transform: scaleY(1);
}
.navbar-profile-dropdown-link
{
    color: white;

    font-size: 15pt;
    font-weight: 500;
    text-decoration: none;

    margin: 10px 0;

    transition: all 0.1s ease-in-out;
}
.navbar-profile-dropdown-link:hover
{
    color: plum;
    transform: scale(1.1);
}
.page-container
{
    width: 100%; min-height: 100vh;

    /* background-color: lightsteelblue; */
    background: linear-gradient(rgb(199, 210, 224),rgb(135, 173, 223));
    background-attachment: fixed;

    padding-top: 80px;
}
.page-container[header="none"]
{
    padding: 0;
}
.main-column
{
    width: 700px;

    padding: 50px 0;

}
.main-column > *
{
    width: 100%;
}
.blog-sort-container
{
    height: 80px;

    border-radius: 20px;
    padding: 20px;

    background-color: darkslateblue;

}
.write-post-button
{
    font-size: 18pt;
    font-weight: 500;
    text-decoration: none;

    background-color: white;
    color: purple;

    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.write-post-button:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.1);
}
.blog-empty-label
{
    width: 100%; height: 500px;

    color: rebeccapurple;
}
.post-container
{
    color: white;
    background-color: rebeccapurple;

    box-shadow: 0 10px 20px rgb(91, 91, 128);

    border-radius: 20px;

    align-items: flex-start;

    margin-top: 20px;

    position: relative;

    overflow: hidden;
   
}
.post-info
{
    color: white;
    text-decoration: none;

    padding: 0 20px;
}
.post-date
{
    font-size: 10pt;
}
.post-title
{
    font-size: 18pt;
    margin: 0;
}
.post-body
{
    font-size: 14pt;

    white-space: pre-line;

    max-height: 300px;
    overflow: hidden;
}
.post-long-shadow
{
    height: 200px; width: 100%;

    /* background-color: black; */
    background-image:  linear-gradient(transparent,rebeccapurple 80%);

    position: absolute;

    bottom: 40px; left: 0;
}
.post-bottom-bar
{
    width: 100%; height: 30px;

    background-color: rgb(72, 37, 107);

    padding: 20px;
}
.post-options
{
    width: 50%;
}
.post-votes-container
{
    width: 130px;
}

.voting-button
{
    font-size: 15pt;

    color: white;
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;
    
}
.voting-button:hover
{
    transform: scale(1.25);
}
.voting-icon
{
    font-size: 20pt;
    margin-right: 5px;

}
.voting-button[vote="like"]
{
    color: red;
}

.voting-button[vote="dislike"]
{
    color: deepskyblue;
}

.comment-button
{
    font-size: 15pt;

    color: white;
    text-decoration: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;

    margin-bottom: 5px;
    
}
.comment-button:hover
{
    transform: scale(1.25);
}
.comment-icon
{
    font-size: 20pt;
    margin: 5px 5px 0 0;
}
.save-button
{
    font-size: 15pt;

    color: white;
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;

    transition: transform 0.1s ease-in-out ;
    
}
.save-button:hover
{
    transform: scale(1.25);
}
.save-button[saved="true"]
{
    color: lime;
}







