.register-form-container
{
    width: 500px;

    background-color: darkslateblue;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    padding: 20px;
}
.register-form-label
{
    color: white;

    margin: 10px;
}
.register-form-input-group
{
    height: 250px;

    margin: 30px 0;
}
.register-form-input
{
    font-size: 15pt;

    border-radius: 10px;

    padding: 5px;

    outline: none;
    border: none;
}
.register-form-submit
{
    font-size: 15pt;
}
.register-form-submit
{
    font-size: 15pt;
    font-weight: 700;
    text-decoration: none;

    outline: none;
    border: none;

    background-color: white;
    color: purple;

    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.register-form-submit:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.1);
}
.register-form-submit:disabled
{
    background-color: lightgray;
    color: rgb(80, 80, 80);

    pointer-events: none;
}