.activity-page-option-row
{
    height: 80px;

    border-radius: 20px;
    padding: 20px;

    background-color: darkslateblue;

    justify-content: flex-start;
}

.activity-page-option-button
{
    color: purple;
    background-color: white;

    font-size: 18pt;
    font-weight: 600;

    border-radius: 10px;

    border: none;
    outline: none;

    padding: 5px 10px;

    margin-right: 20px;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}
.activity-page-option-button[current="true"]
{
    color: white;
    background-color: purple;

    pointer-events: none;
}
.activity-page-option-button:hover
{
    background-color: plum;
    transform: scale(1.1);
}

.activity-page-content-container
{
    min-height: 700px;
}

.activity-page-content-container > *
{
    width: 100%;
}

.activity-page-comment-container
{

    color: white;
    background-color: rebeccapurple;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
    padding: 5px 20px;

    margin-top: 30px;
}
.activity-page-comment-link
{
    color: white;

    text-decoration: none;
}
.activity-page-comment-info
{
    color: plum;
    font-size: 10pt;
}
.activity-page-comment-post
{
    color: plum;
    font-size: 13pt;
    font-weight: 600;
}
.activity-page-comment-text
{
    font-size: 15pt;
    font-weight: 500;
}