.post-write-form-container
{
    width: 800px;

    background-color: darkslateblue;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    padding: 20px;

    align-items: flex-start;
}
.post-write-form-label
{
    color: white;
    margin: 20px 0;
}
.post-write-form-row
{
    margin-bottom: 20px;
}
.post-write-form-select-topic-container
{
    height: 70px; width: 350px;
    
    background-color: lightblue;

    border-radius: 10px;

    margin-left: 20px;
}
.post-write-form-select-topic-open
{
    width: 100%; height: 100%;

    position: relative;

    /* cursor: pointer; */
}
.post-write-form-select-topic-menu
{
    width: 200%; height: fit-content;
    
    color: white;
    background-color: darkslateblue;

    border-radius: 10px;
    box-shadow: 0 0 10px black;

    display: none;

    top: 100%;

    position: absolute;
}
.post-write-form-select-topic-menu > h2
{
    width: 100%;
    text-align: left;
}
.post-write-form-select-topic-open:hover .post-write-form-select-topic-menu
{
    display: flex;
}
.post-write-form-select-topic-menu-section
{
    width: 50%;
    padding: 20px;
}
.post-write-form-select-topic-results
{
    width: 100%; height: 200px;

    padding-right: 20px;

    overflow-y: scroll;
}
.select-topic-button
{
    width: 100%; height: 50px;

    color: white;
    background-color: purple;

    padding: 10px;
    margin: 5px 0;

    border: none;
    outline: none;

    transition: transform 0.1s ease-in-out;
}
.select-topic-button:hover
{
    transform: scale(1.05);
}
.select-topic-info
{
    width: 70%;

    align-items: flex-start;
}
.select-topic-info > *
{
    margin: 0;
}
.select-topic-info-title
{
    font-size: 15pt;
    font-weight: 500;

    margin-bottom: 2px;
}
.select-topic-info-members
{
    color: plum;
}

.selected-topic-container
{
    width: calc(100% - 10px); height: calc(100% - 10px);

    background-color: purple;

    border-radius: 10px;

    padding: 10px;
    
}
.selected-topic-reset-button
{
    font-size: 25pt;

    background-color: transparent;
    color: white;

    padding: 0;

    border: none;
    outline: none;

    cursor: pointer;
}
/* .post-write-form-select-topic
{
    font-size: 15pt;

    padding: 5px 10px;

    border-radius: 10px;

    outline: none;
    border: none;
} */
.post-write-form-input-group
{
    width: 100%;
    align-items: flex-start;
}

.post-write-form-title-input
{
    font-family: sans-serif;
    font-size: 18pt;
    
    min-width: 100%; max-width: 100%;
    min-height: 50px; max-height: 100%;

    border-radius: 10px;

    padding: 5px;

    outline: none;
    border: none;
}

.post-write-form-body-input
{
    font-family: sans-serif;
    font-size: 15pt;

    min-width: 100%; max-width: 100%;
    min-height: 200px; max-height: 100%;

    padding: 5px;

    margin: 10px 0 20px 0;

    border-radius: 10px;

    outline: none;
    border: none;
}

.post-write-form-submit-container
{
    width: 100%;
}
.post-write-form-submit
{
    font-size: 18pt;
    font-weight: 500;
    text-decoration: none;

    outline: none;
    border: none;

    float: right;

    background-color: white;
    color: purple;

    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.post-write-form-submit:hover
{
    background-color: rgb(238, 233, 255);
    transform: scale(1.1);
}
.post-write-form-submit:disabled
{
    background-color: lightgray;
    color: rgb(80, 80, 80);

    pointer-events: none;
}


.create-topic-form-title-input
{
    font-size: 18pt;
    
    width: 77%; height: 50px;

    border-radius: 10px;

    padding: 5px;

    outline: none;
    border: none;
}
.create-topic-form-topic-logo
{
    position: relative;
}
.topic-logo-background
{
    width: 150px; aspect-ratio: 1;

    background-blend-mode: hard-light;
    
    background-size: cover;

    border-radius: 10px;

    border: 5px solid white;

    box-shadow: inset 0 0 20px black;

    position: relative;
}
.select-topic-logo
{
    width: 40px;
    border-radius: 5px;
    border: 1px solid white;

}
.topic-logo-foreground
{
    width: 70%; aspect-ratio: 1;

    /* background-color: lightgreen; */

    /* mask-image: url("./img/topic-logo/fg6.png"); */

    mask-size: cover;

    filter: drop-shadow(0 0 2px black);

    position: absolute;
}
.topic-logo-foreground-shadow
{
    width: 70%; aspect-ratio: 1;

    /* background-image: url("./img/topic-logo/fg1.png"); */

    background-size: cover;

    filter: drop-shadow(0 1px 4px black);

    position: absolute;
}
.topic-logo-options-container
{
    width: 500px; height: 300px;

    background-color: darkslateblue;

    padding: 35px 20px;

    border-radius: 20px;

    box-shadow: 0 0 20px black;

    position: absolute;
    top: 100%;

    transform-origin: top;
    transform: scaleY(0);

    transition: all 0.1s ease-in-out;
}

.topic-logo-options-row
{
    width: 100%; height: 100px;
}
.topic-logo-image-options
{
    width: 75%; height: 100%;

    background-color: black;

    padding: 5px;

    border-radius: 10px;

    overflow-x: scroll;
}
.topic-logo-image-button
{
    height: 100%; aspect-ratio: 1;

    margin: 0 10px;

    border-radius: 10px;

    background-size: cover;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}

.topic-logo-image-button:hover
{
    transform: scale(1.1);
}
.topic-logo-color-option
{
    width: 20%; height: 100%;

    /* background-color: red; */
}

.create-topic-form-topic-logo:hover .topic-logo-options-container
{
    transform: scaleY(1);
}